# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor Files
.vscode/
.idea/
*.swp

# Temporary / Log files
*.log
node_modules/

# Environment variables and secrets
.env
.env*
.env.local
!.env.example
